body {
    font-family: Inter;
    background-color: #1b1717;
    color: #eeebdd;
}

button {
    border: none; 
    height: 60px; 
    width: 125px; 
    color: white; 
    background-color: #ce1212;
    border-radius: 5px;
    font-family: Inter;
}

button:hover {
    background-color: #bb1212;
}

a {
    color: #810000;
    font-family: Inter;
}